@use "../variables" as v;

.nav__menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  .checkedBox {
    display: none;
  }
  .checkLabel {
    width: 10%;
    .checkLabel--img {
      width: 100%;
    }
  }
  .button__go {
    width: 20%;
    height: 6vh;
    border-radius: 20px;
  }
  .select__level {
    background-color: v.$principalBlue;
    border-radius: 20px;
    border: none;
    height: 6vh;
    width: 20%;
    &:focus {
      transform: scale(1.01);
    }
    .select__level--op {
      background-color: v.$secondaryBlue;
    }
  }
}
