@use "../variables" as v;

.correct__flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .correct__flex--buttons {
    margin: 0.5%;
    height: 7.5vh;
    width: 49%;
    border-radius: 20px;
    border: none;
    background-color: v.$secondaryBlue;
  }
  .correctOption {
    background-color: v.$greenMint;
  }
//   .wrongOption {
//     background-color: v.$greenMint;
//   }
}

@media screen and (min-width: 840px) {
  .correct__flex {
    .correct__flex--buttons {
      font-size: 1.3rem;
    }
  }
}