@use "../variables" as v;
.caracter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  .caracter__zi {
    color: v.$lightGray;
    font-size: 5rem;
    font-weight: lighter;
    -webkit-text-stroke: 0.5px v.$lightGray;
  }
}

@media screen and (min-width: 659px) {
  .caracter {
    .caracter__zi {
      font-size: 8rem;
    }
  }
}
